$primaryColor: #FF0000;
$primaryFont: Verdana;
$memberColor: gray;
body {
  font-family: $primaryFont;
  font-size: 1.5em;

  h1 {
     color: $primaryColor;
  }
}

#team-members {
  clear: both;

  .member {
    float: left;
    /*border: 1px solid $memberColor;*/
    margin: 10px;
    padding: 6px;

    img {
      width: 200px;
      height: 200px;
    }

    .imageBox {
        position: relative;
        float: left;

        img {
          width: 200px;
          height: 200px;
          border-radius: 25px;
        }
        box-shadow: 10px 10px 5px #888888;
    }

    .imageBox .hoverImg {
        position: absolute;
        left: 0;
        top: 0;
        display: none;


        /* Firefox */

        -moz-transition: all 1s ease;

        /* WebKit */

        -webkit-transition: all 1s ease;

        /* Opera */

        -o-transition: all 1s ease;

        /* Standard */

        transition: all 1s ease;
    }

    .imageBox:hover .hoverImg {
        display: block;
        img {
          width: 200px;
          height: 200px;
          border-radius: 25px;
        }


        /* Firefox */
        -moz-transform: scale(2) rotate(30deg) translate(50px);
        /* WebKit */
        -webkit-transform: scale(1.2) rotate(30deg) translate(50px);
        /* Opera */
        -o-transform: scale(2) rotate(30deg) translate(50px);
        /* Standard */
        transform: scale(2) rotate(30deg) translate(50px);

        box-shadow: 10px 10px 5px #888888;

        z-index: 1000;

    }

    div {
      .name {
        text-align: center;
      }
    }
  }

}


/*
.imageBox {
    position: relative;
    float: left;

    img {
      width: 200px;
      height: 200px;
    }
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
    img {
      width: 200px;
      height: 200px;
    }
}
*/


/* mixin example
@mixin message {
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  padding: 1em;
}
*/
