$primaryColor: #FF0000;
$primaryFont: Verdana;
$memberColor: gray;
body {
  font-family: $primaryFont;
  font-size: 1.5em;

  h1 {
     color: $primaryColor;
  }
}

#team-members {
  clear: both;

  .member {
    float: left;
    /*border: 1px solid $memberColor;*/
    margin: 10px;
    padding: 6px;

    img {
      width: 200px;
      height: 200px;
    }

    .imageBox {
        position: relative;
        float: left;

        img {
          width: 200px;
          height: 200px;
          border-radius: 25px;
        }
        box-shadow: 10px 10px 5px #888888;
    }

    .imageBox .hoverImg {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    .imageBox:hover .hoverImg {
        display: block;
        img {
          width: 200px;
          height: 200px;
          border-radius: 25px;
        }
        box-shadow: 10px 10px 5px #888888;
    }

    div {
      .name {
        text-align: center;
      }
    }
  }

}


/*
.imageBox {
    position: relative;
    float: left;

    img {
      width: 200px;
      height: 200px;
    }
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
    img {
      width: 200px;
      height: 200px;
    }
}
*/


/* mixin example
@mixin message {
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  padding: 1em;
}
*/
